// Variables for font families
$primaryFont: "Source Sans 3", sans-serif;
$secondaryFont: "Bungee", sans-serif;

// Variables for colors
$primaryFontColor: #545149;
$primaryBackgroundColor: #f4f1ec;
$white: #ffffff;
$red: #ff0000;
$redOnHover: #fa4646;
$blue: #4056A1;
$blueOnFocus: #708ef9;
$headerBackgroundColor: #d99b27;
$tweetOnHoverColor: #b8bed0;
