@import "_variables";
@import "_mixins";

/* Styles for navigation */
nav {
  @include flex(center, space-between);
  position: fixed;
  width: 100%;
  height: 120px;
  color: $white;
  padding: 0 1.5em;
  background-color: $blue;

  /* Styles for logo */
  span {
    font-family: $secondaryFont;
    font-size: 2em;
    margin-right: 10px;
  }
} 

/* Styles for "Write a new tweet" section of the navigation element*/
#form-toggle-btn {
  @include flex(center, center);
  flex-direction: column;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: $white;
  width: 220px;
  font-size: 1.05em;

  div {
    height: 30px;
  }
} 

#form-toggle-btn:hover { 
  font-size: 1.1em;
} 

/* Styles for arrows */
.fa-angles-down {
  left: 50%;
  bottom: 0;
  color: $red;
}

#form-toggle-btn:hover .fa-angles-down {
  color: $redOnHover;
}

/* Styles for scroll-top button */
#scroll-top-btn {
  @include flex(center, center);
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  background-color: $red;
  width: 85px;
  height: 85px;
  border: none;
  cursor: pointer;
}

#scroll-top-btn:hover {
  background-color: $redOnHover;
}

.fa-angles-up {
  color: $white;
}

/* Styles for screens with maximum width of 1023px */
@media only screen and (max-width: 1023px) {
  nav {
    background-color: transparent;
  }
}

/* Styles for screens with maximum width of 500px */
@media only screen and (max-width: 500px) {
  #scroll-top-btn {
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
  }
}

