@import "_variables";
@import "_mixins";

#new-tweet {
  display: none;
}

/* Styles for error message container */
.error-container {
  display: none;
}

.error-message {
  @include flex(center, space-between);
  border: 4px solid $red;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
}

.fa-triangle-exclamation {
  color: $red;
}

/* Styles for the entire form container */
form {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  padding: 20px 0;

  /* Styles for button and characters counter within the form */
  div {
    @include flex(flex-start, space-between);
    font-family: $secondaryFont;
    margin: 10px 0;
  }  

  button {
    border: none;
    background-color: $blue;
    color: $white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.2em;
  }

  button:focus {
    outline: 3px solid $blueOnFocus;
  }
} 

/* Styles for labels within the form */
label {
  font-weight: 600;
  font-size: 1.2em;
}

/* Styles for textarea input in the form */
textarea {
  border: none;
  background-color: $primaryBackgroundColor;
  border-bottom: 5px solid $primaryFontColor;
  padding: 10px 0;
  font-weight: 600;
  resize: vertical;
}

textarea:focus {
  outline: none;
}

.counter {
  font-size: 1.2em;
}

.counter-negative {
  color: $red;
}
 