@import "_variables";
@import "_mixins";

/* Style for the tweets container */
.tweet {
  border: 5px solid $primaryFontColor;
  padding: 30px;
  margin: 30px 0;
}

.tweet:hover {
  box-shadow: 10px 10px $tweetOnHoverColor;
}

/* Styles for the header within the tweet container */
article.tweet  {
  header {
    @include flex(center, space-between);
    margin-bottom: 30px;
  }
  /* Styles for the horizontal line within the tweet container */
  hr {
    background-color: $primaryFontColor;;
    height: 2.5px;
  }
  /* Styles for the footer within the tweet container */
  footer {
    @include flex(flex-start, space-between);
    padding: 10px 20px;
  }
}

/* Styles for the author section within the tweet header */
.tweet-author { 
  @include flex(center, flex-start);
  
  /* Styles for the author's avatar within the tweet header */
  img {
    margin-right: 10px;
  }

  /* Styles for the author's name within the tweet header */
  h3 {
    font-weight: 300;
    margin-right: 5px;
  }
} 

/* Styles for the user handle within the tweet header */ 
.user-handle { 
  color: $tweetOnHoverColor; 
  text-align: center; 
} 

/* Styles for the tweet text content */
.tweet-text {
  font-weight: 600;
  margin: 10px 0;
  padding: 20px;
  word-wrap: break-word;
}

/* Styles for the time information within the tweet footer */
.tweet-time {
  font-size: 0.8em;
  font-weight: 600;
}

/* Styles for icons within the tweet container */
.icon {
  color: $blue;
  cursor: pointer;
}

.icon:hover {
  color: $headerBackgroundColor;
}

/* Styles for screens with maximum width of 500px */
@media only screen and (max-width: 500px) {
  .tweet {
    padding: 10px;
    margin: 15px 0;
  }
}
