/* Styles for navigation */

nav {
  position: fixed;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
}

/* Styles for logo */
nav span {
  font-family: 'Bungee', sans-serif;
}

/* Styles for "Write a new tweet" section of the navigation element*/
nav div {
  display: flex;
  flex-direction:column;
  align-items: center;
}

/* Styles for arrows */
.fa-angles-down {
 color: red;
}

