/* Styles for the entire form container */
form {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  padding: 20px 0;
}

/* Styles for labels within the form */
label {
  font-weight: 600;
}

/* Styles for textarea input in the form */
textarea {
  border: none;
  background-color: #f4f1ec;
  border-bottom: 5px solid #474747;
  padding: 10px 0;  
  font-weight: 600;
  resize: vertical;
}

textarea:focus {
  outline: none;
}

/* Styles for button and characters counter within the form */
form div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  margin: 10px 0;
}

form button {
 border: none;
 background-color: #4056A1;
 color: #FFFFFF;
 padding: 5px 10px;
 cursor: pointer;
}

form button:focus {
  outline: 3px solid #708ef9; 
}

.counter-negative {
  color: red;
}